[Unit]
Description=Lite Server Monitor (LSM) - Служба проверки Docker
After=docker.service

[Service]
Type=oneshot
ExecStart=/opt/lsm/modules/docker/files/check_docker.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
