#
# -----------------------------------------------------------------------------
# Lite Server Monitor (LSM)
# Disk Monitor Timer
# -----------------------------------------------------------------------------

[Unit]
Description=Lite Server Monitor (LSM) - Таймер проверки дискового пространства
Documentation=https://github.com/AlexeySolomatin/Lite-Server-Monitor

[Timer]
# Запуск каждые 5 минут
OnCalendar=*:0/5
Persistent=true
RandomizedDelaySec=15
Unit=lsm-disk.service

[Install]
WantedBy=timers.target
