#
# -----------------------------------------------------------------------------
# Lite Server Monitor (LSM)
# Disk Monitor Service
# -----------------------------------------------------------------------------

[Unit]
Description=Lite Server Monitor - Disk Usage Monitor
Documentation=https://github.com/AlexeySolomatin/Lite-Server-Monitor
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/lsm/modules/disk/check_disk.sh

User=root
Group=root

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/lsm /var/log/lsm

Nice=10

[Install]
WantedBy=multi-user.target
