#
# -----------------------------------------------------------------------------
# Lite Server Monitor (LSM)
# SMART Monitor Timer
# -----------------------------------------------------------------------------

[Unit]
Description=Run Lite Server Monitor SMART Check

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
AccuracySec=2min
Persistent=true

Unit=lsm-smart.service

[Install]
WantedBy=timers.target
